<link type="text/css" href="lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="lib/jquery/jquery.js"></script>
<script src="js/jquery.geocomplete.min.js"></script>
<h1>Create Event</h1>

<div ng-view="ng-view"></div>
