<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:Thin">
<link type="text/css" href='lib/bootstrap/css/bootstrap.css' rel='stylesheet'/>
<link type="text/css" href='styles/style.css' rel='stylesheet'/>

<div class="container-fluid main-wrapper">
	<div class="row">
		<div class="col-lg-12 top-banner">
			<div class="row">
				<div class="col-lg-5 col-lg-push-2">
					<img class="logo-img-2" src="images/Logo-White.png" />
				</div>
		</div>
		</div>
	</div>

</div>