<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link type="text/css" href='lib/bootstrap/css/bootstrap.css' rel='stylesheet'/>

<h1> It's running </h1>
<div ng-view="ng-view"></div>