<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:Thin">
<link type="text/css" href='lib/bootstrap/css/bootstrap.css' rel='stylesheet'/>
<link type="text/css" href='styles/style.css' rel='stylesheet'/>

<div class="container-fluid main-wrapper">
	<div class="row">
		<div class="col-lg-12 top-wrapper">
			<div class="row">
				<div class="col-lg-12 logo-wrapper">
					<div class="row">
						<div class="col-lg-push-2 col-lg-2 logo-wrapper">
							<img class="logo-img" src="images/Logo-White.png" />
						</div>
					</div>
				<div>
				<div class="col-lg-12 content-wrapper ">
					<div class="row">
						<div class="col-lg-4 col-lg-push-4">
							<span class="landing-text">Together in one clique</span>	
						</div>
					</div>
					<div class="row buttons-group col-lg-8 col-lg-push-3">
						<div class="col-lg-4 btn-left">
							<a href="#"> <img class="landing-button" src="images/LearnMoreButton.png" /> </a>
						</div>
						<div class="col-lg-4 btn-right">
							<a href="/user/facebook"><img class="landing-button" src="images/FacebookButton.png" /></a>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 col-lg-push-1 bottom-wrapper">
			<div class="row">
				<ul class="list-inline bottom-list col-lg-8 col-lg-push-1" >
				  <li>Home</li>
				  <li>About</li>
				  <li>Contact</li>
				  <li>Privacy Policy</li>
				</ul>
				<img class="social-icon col-lg-pull-2" src="images/SocialIcons.png" />
			</div>
		</div>
	</div>
	
</div>