<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:Thin">
<link type="text/css" href='lib/bootstrap/css/bootstrap.css' rel='stylesheet'/>
<link type="text/css" href='styles/style3.css' rel='stylesheet'/>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

<div class="container-fluid main-wrapper-2" ng-controller="viewEventController">
	<div class="row">
		<div class="col-lg-12 top-banner">
			<div class="row">
				<div class="col-lg-5 col-lg-push-2">
					<img class="logo-img-2" src="images/Logo-White.png" />
				</div>

				<ul class="col-lg-5 list-inline top-notification pull-right" >
				  <li><img src="images/Avatar1.png" /></li>
				  <li><img class="notification" src="images/Notifications.png" /></li>
				  <li><img class="settings" src="images/Settings.png" /></li>
				  <li> 
				  	<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
			  	</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-lg-push-3 main-wrapper">
			<div class="row">
				<div class="col-lg-12 heading">
					Designer's Meetup
				</div>
				<div class="col-lg-12 sub-heading">
					by <span class="name">Rachel Yoyoman</span>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-7 left-wrapper">
					<div class="row">
						<div class="col-lg-12 top-title">
							Top Location
						</div>
					</div>
					<ul class="block-content">
						<li class="block-list"> 
								<div class="row">
									<div class="col-lg-2">
										<img class="block-pic" src="images/1.png" />
									</div>
									<div class="col-lg-9">
										<div class="row">
											<div class="col-lg-12 block-content-top">
												<span class="">Charlie's Cafe</span>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 block-content-bottom">
												<span class="">place</span>
											</div>
										</div>
									</div>
								<img class="plus" src="images/Plus.png" width="20px" width="20px" />
								</div>
							</li>

							<li class="block-list"> 
								<div class="row">
									<div class="col-lg-2">
										<img class="block-pic" src="images/2.png" />
									</div>
									<div class="col-lg-9">
										<div class="row">
											<div class="col-lg-12 block-content-top">
												<span class="">Charlie's Cafe</span>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 block-content-bottom">
												<span class="">place</span>
											</div>
										</div>
									</div>
								<img class="plus"  src="images/Plus.png" width="20px" width="20px" />
								</div>
							</li>

							<li class="block-list"> 
								<div class="row">
									<div class="col-lg-2">
										<img class="block-pic" src="images/3.png" />
									</div>
									<div class="col-lg-9">
										<div class="row">
											<div class="col-lg-12 block-content-top">
												<span class="">Charlie's Cafe</span>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 block-content-bottom">
												<span class="">place</span>
											</div>
										</div>
									</div>
								<img class="plus" src="images/Plus.png" width="20px" width="20px" />
								</div>
							</li>
							<span class="see_more"> see more </span>
						</ul>

						<div class="row">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-12 top-title-2">
										Suggested Location
									</div>
								</div>
						<ul class="block-content">
							<li class="block-list"> 
								<div class="row">
									<div class="col-lg-9 col-lg-push-1">
										<div class="row">
											<div class="col-lg-12 block-content-top">
												<span class="">Charlie's Cafe</span>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 block-content-bottom">
												<span class="">place</span>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="block-list"> 
								<div class="row">
									<div class="col-lg-9 col-lg-push-1">
										<div class="row">
											<div class="col-lg-12 block-content-top">
												<span class="">Charlie's Cafe</span>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 block-content-bottom">
												<span class="">place</span>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="block-list"> 
								<div class="row">
									<div class="col-lg-9 col-lg-push-1">
										<div class="row">
											<div class="col-lg-12 block-content-top">
												<span class="">Charlie's Cafe</span>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 block-content-bottom">
												<span class="">place</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>			
					</div>
				</div>
			</div>

			<div class="col-lg-4 right-wrapper">
				<div class="timer-wrapper">
					<div class="row">
						<div class="col-lg-12">
							<span class="time1"> You have </span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 timer-12">
							<span class="timer1"> {{hours}} </span> :
							<span class="timer2"> {{minutes}} </span> :
							<span class="timer3"> {{seconds}} </span>
						</div>
					</div>
					<div class="row timer-s">
						<div class="col-lg-12">
							<span class="timer1-s"> days  &nbsp;</span>
							<span class="timer2-s"> hours  &nbsp;</span>
							<span class="timer3-s"> seconds  </span>
						</div>
					</div>
					<div class="row ">
						<div class="col-lg-12">
							<p class="timer-s"> left to upload your  availability and preferance  </span>
						</div>
					</div>
					<div class="grid-wrapper">
					<img src="images/Calendar.png" width="200px" height="250px"/>
					</div>
					<p class="timer-s">Click and drag to list your available  times or <span class="name" click here to connect with your Google Calendar.

			</div>
		</div>
	</div>
</div>

