
/** dashboard **/
body {
	background: #d0d3d5;
}

.top-banner {
	height: 100px;
	background: #2f3a4a;
}

.logo-img-2 {
	margin-top: 30px;
	height: 35px;
	width: 95px;
}

.top-notification {
	margin-top: 25px;
}

.top-notification img {
	height: 35px;
	width: 35px;
}

img.notification {
	margin-top: -2px;
	height: 43px;
	width: 43px;
}

img.settings {
	height: 27px;
	width: 27px;
}

.input-group {
	padding: 0px;
	margin: 0px;
}

.search-bar {
	padding-top: 10px;
}

.form-control {
	display: inline;
}

.profile-pic-top {
	border-radius: 50%;
}

/** content **/

.create-event {
	cursor: pointer;
	width: 220px;
	height: 40px;
	margin-left: 5px;
}

.content-wrapper {
	margin-top: 30px;
	padding: 15px;
	margin-left: 0px;
	width: 100%;
	background: #fff;
  border-radius: 10px;
  min-height: 600px;
}


.side-wrapper {
	margin-top: 30px;
}

.side-block {
	margin-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background: #fff;
  border-radius: 10px;
	min-height: 200px;
	width: 230px;
}

.side-block .heading {
	font-family: "Roboto";
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #a2a7ab;
	padding-bottom: 10px;
}

.side-block .side-content {
	text-align: center;
	margin-top: 10px;
}


.side-block .side-block-time {
	background: #d0d3d5;
  border-radius: 10px;
  margin-left: 10px;
  padding: 7px;
  width: 50px;
	color: #fff;
	font-weight: 600;
}

.side-block .side-content {
	text-align: center;
	margin-top: 10px;
}

.side-block .block-event-name {
	font-size: 13px;
	color: #75df8a;
	font-weight: 600;
}

.side-block .block-place-list {
	text-align: left;
	font-size: 10px;
}

.side-block .block-time-list {
	text-align: left;
	font-size: 10px;
}

.block-content {
	list-style: none;
	margin-left: -35px;
}

.block-content .block-content-bottom {
	padding-bottom: 20px;
	border-bottom: 1px solid #a2a7ab;
}
.block-content .block-pic {
	height: 68px;
	width: 68px;
	border-radius: 50%;
}

.block-content .block-content-top {
	margin-top: 15px;
	font-family: "Roboto";
	font-size: 12px;
}

.block-content .block-content-bottom {
	margin-top: 15px;
	font-family: "Roboto";
	font-size: 10px;
}

.block-content .block-person-name {
	color: #51c0ff;
	font-weight: 600;
}

.block-content .block-event-name {
	color: #75df8a;
	font-weight: 600;
}

.block-content .block-time {
	opacity: 0.5;
}

/** create event **/
.control-label, .modal-title {
	font-family: "Roboto";
}

.modal-all {
	background: #f2f2f2;
  border-radius: 20px;
}

.modal-dialog {
	width: 500px;
}

.modal-body .form-control {
	height: 40px;
	border: 1px solid #fff;
	box-shadow: 0px 1px 1px #FFF inset;
}

textarea {
    resize: none;
}

.btn-side {
	margin-left: -50px;
}

.modal-body {
	padding-left: 30px;
	padding-right: 30px;
}

*::-webkit-input-placeholder {
    color: #d0d3d5;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #d0d3d5;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #d0d3d5;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #d0d3d5;
}

.modal-body-p {
	font-family: "Roboto";
	font-size: 14px;

}
.btn-next {
	width: 150px;
	height: 40px;
	background-color: #2f3a4a;
	color: #fff;
}

.btn-facebook {
	width: 150px;
	height: 40px;
	background-color: #3c599f;
	color: #fff;
}

.btn-facebook:hover {
	background-color: #3c599f;
	color: #fff;
}

.btn-send-link {
	width: 150px;
	height: 40px;
	background-color: #f2f2f2;
	color: #333333;
	border: 1px solid #333333;
}

.btn-facebook:hover {
	background-color: #3c599f;
	color: #fff;

}

.btn-next:hover {
	color: #fff;
}

.btn-done {
	width: 150px;
	height: 40px;
	background-color: #75df8a;
	color: #fff;
}

.btn-done:hover {
	background-color: #75df8a;
	color: #fff;
}

//For Google places autocomplete
.pac-container {
	z-index: 9999 !important;
	position: fixed;
	display: inline-block;
	float: left;
}

.notification-number {
	font-size: 7px;
	font-color: #fff;
}
